@import url("reset.css");

body {
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  background-color: rgb(240, 239, 239);
}

.header {
  background-color: rgb(58, 58, 58);
}

.header_title {
  margin: 0;
  padding: 30px 80px;
  font-size: 30px;
  font-weight: 500;
  color: white;
}

.container {
  width: 90%;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px auto;
  border-radius: 15px;
  padding: 20px 0;
}

.post {
  width: 80%;
  margin: 20px auto ;
  padding: 40px;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.post i {
    margin: 8px;
}

.post_title {
  font-size: 25px;
  margin: 10px 20px 10px 0;
  color: black;
}

.div__modal{
  width: 70vw;
  height: 70vh;
  background-color: #f1f1f1;
  display: flex;
  border-radius: 15px;
}

.div__modal__background{
  width: 100VW;
  height: 100Vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__modal__close{
  margin: 10px 10px 10px auto;
  width: 100px;
  height: 50px;
  background-color: #1f1f1f;
  color: white;
  border: black solid 2px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.7);
  border-radius: 15px;

}

.button__modal__close:active{
  box-shadow: none;
}
